<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="feature" class="OptimizeThelia\Loop\Feature" />
        <loop name="category-tree" class="OptimizeThelia\Loop\CategoryTree" />
    </loops>

    <services>
        <service id="category.cache.service" class="OptimizeThelia\Service\CategoryCache">
            <argument>%kernel.cache_dir%/category</argument>
        </service>
        <service id="category.cache.listener" class="OptimizeThelia\EventListeners\CategoryCacheListener">
            <tag name="kernel.event_subscriber"/>
            <argument type="service" id="category.cache.service"/>
        </service>
    </services>

    <hooks>
        <hook id="optimizethelia.hook">
            <tag name="hook.event_listener" event="category.sidebar-body" type="front" templates="render:category-sidebar.html" />
        </hook>
    </hooks>

</config>
